
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Nova Square', cursive;
}

/*____________________________________________background animado________________________________*/

/*section -> background do site*/
#fundo{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #610094 ,#3F0071,#150050 ,#000000);
    background-size: 300% 200%;
    animation-name: degrade;
    animation-duration: 8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
/*Animação degradê do fundo do site*/
@keyframes degrade{

    from{background-position-x: 0%;
        background-position-y: 0%;}

    to{background-position-x: 100%;
        background-position-y: 100%;}
}


/*________________________________ANIMAÇÃO COM O FOGUETE_________________________________*/

/*Caixa em que está rolando o carrossel de imagens*/
#box{
    
    width: 60%;
    height: 20%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    box-shadow: 4px 4px 5px rgb(78, 182, 243);
    border-radius: 2rem;
}

/*Imagens do carrossel*/
#box img{

    width: 100%;
    position: relative;
    animation-name: slide;
    animation-duration: 4s;
    animation-iteration-count: infinite;   
    animation-timing-function: linear;  
}

/*Div do foguete*/
#overbox{

    transform: rotate(90deg);
    position: absolute;
    margin-top: 20%;
    margin-left: -50%;
    animation-name: none; /*vai mudar para flyGo*/
    animation-duration: 10s; /*Vai ser settado de acordo com a quantidade de questões*/
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

/*A imagem do foguete*/
#foguete{

    width: 100px;
}

/*Animação das imagens do box*/
@keyframes slide{

    from{left: 0%}
    to{left:-100%}
}

/*Animação de ida do foguete*/
@keyframes flyGo{

    from{margin-left: -50%}
    to{margin-left:50%}
}

/*Animação da volta do foguete*/
@keyframes flyBack{

    from{margin-left: 50%}
    to{margin-left: -50%}

    /*utilizar animação com time=3s*/
}



/*________________________________PERGUNTAS E RESPOSTAS___________________________________*/

/*Div das questões*/
#question{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    border: 1px solid white;
    border-radius: 20px;
    width: 60%;
    height: 20%;
    text-align: center;
    color: white;
    font-size: 4rem;
    text-shadow: 2px 2px rgb(0, 0, 0);
    box-shadow: 4px 4px 5px rgb(78, 182, 243);
    background-image: url(images/outerspace-70.gif);
    background-size: cover;
    
}

.alertQuestion{

    color: black;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255,255,255,6);
    background-color: rgb(55, 190, 214);

}

/*Div das respostas*/
#answers{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    height: 20%;
    
}

/*Classe dos botões de resposta*/
.alternatives{

    background-color: transparent;
    border: 1px solid white;
    width: 48%;
    height: 40%;
    border-radius: 20px;
    color: white;
    font-size: 2.5rem;
    text-shadow: 2px 2px black;
    background-image: url(images/planeta.gif);
}

/*Função para mouseOver nos botões de resposta*/
.alternatives:hover{

    box-shadow: 0 0.4rem 1.4rem 0 rgba(255,255,255,6);
    transition: transform 100ms;
    transform: scale(1.03);
    
}

/*Função para mouseOver no box de perguntas*/
#question:hover{

    background-color: black;
   
}

/*Função para mouseOver no background do site*/
#fundo:hover{

    background-image: url(images/6MpJh9.jpg);
}

