.container{

    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background: radial-gradient(circle, grey,rgb(107, 106, 106),rgb(61, 61, 61),rgb(36, 35, 35),rgb(3, 3, 3)); */
    background: radial-gradient(circle, rgb(0, 174, 0), rgb(0, 142, 0), rgb(1, 95, 1), rgb(0, 44, 0), rgb(0, 11, 0));
}
/* ======================================= */
.subcontainer{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.subcontainer h1{

    margin: 1em;
    text-shadow: 1px 1px whitesmoke;
}
/* ======================================== */
.list li{

    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid black;
    list-style: none;
    text-align: center;
    font-size: 1.2rem;
}

/* ======================================== */
.trash{

    width: 4%;
    margin-left: 5%;
}

.trash:hover{

    transform: scale(1.3);
    transition: transform 100ms;
}